/*
	This is the main style sheet for the great falls race
	Author: Connor Laird
*/	

/* Homepage Style
-------------------------------------------------- */

body.homepage {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: rgb(147, 161, 176);
}



/* Header section style
-------------------------------------------------- */

#header-logo {
    width: 80%;
    margin-top: 1.5em;
    max-width: 500px;
}

div.header-titles {
    margin: auto;
    text-align: center;
    background-color: white;
	background-image: url(/img/header-bg.jpg);
}
body.homepage div.header-titles{
    background-color: white;
	background-image: none;
	
}
div.header-image {
    position: relative;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px 0;
}
img.header-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Registration button 
-------------------------------------------------- */

.register-text {
    font-size: 1.25em;
    margin-bottom: 1.5em;
}
.register-button {
    text-align: center;
    color: #0074D9;
    border: 4px solid #0074D9;
    border-radius: 19px;
    display: block;
    width: 50%;
    min-width: 100px;
    margin: 10px auto;
    font-size: 2.5em;
    padding: 0.1em 0.4em;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}
.register-button:hover {
    background-color: #0074D9;
    color: #fff;
}

/* Line slide section styles
-------------------------------------------------- */

.lines-container h2,
.lines-container h3 {
    text-align: center;
}
.line-slide {
	padding: 0;
}
.line-slide .col-sm-6 {
	padding:0;
}
.line-slide .img-slide {
    padding: 10px;
    border-radius: 25px;
}
.line-slide img {
    width: 100%;
    border-radius: 25px;
}

/* Partner/Sponsor images
-------------------------------------------------- */

.partner-image-holder {
    height: 200px;
    position: relative;
}
.partner-image-holder img {
    max-height: 200px;
    max-width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.partners-container h2 {
    text-align: center;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar {
    background-color: rgb(147, 161, 176);
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-toggle {
  background-color: #ddd;
}
.navbar-default .navbar-toggle:hover {
  background-color: #eee;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}
.social-holder{
	float:right; 
	height: 50px;
}
.social-holder img{
	height:100%;
}

/* Homepage Boxs
-------------------------------------------------- */
.homepage-boxes {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.homepage-boxes .col-sm-4 {
    margin-bottom: 20px;
    text-align: center;
}
.homepage-boxes h2 {
    font-weight: normal;
}
.homepage-boxes .col-sm-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.icon-holder {
    width: 140px;
    border: 4px solid;
    border-radius: 70px;
    height: 140px;
    margin: auto;
}
.icon-holder i {
    margin-top: 30px;
}

.homepage nav{
	border:0;
	
}

.homepage table{
	text-align:center;
	
}
.homepage .navbar-default .navbar-nav>.active>a{
	background-color:#fff;
}

/* Results tables
-------------------------------------------------- */
#results-select{
    display: inline;
    width: 10%;
    min-width: 150px;
    text-align: center;
	  color: #0074D9;
	  font-weight: bold;
	  height: 45px;
	  font-size: 20px;
}
#results-container {
    text-align: center;
    background-color: rgb(147, 161, 176);
    color: #fff;
}
#results-container h2{
	padding-top: 20px;
}
.col-md-5 table th{
	text-align:center;
}

/* Schedule 
-------------------------------------------------- */

.festival-schedule h3, .festival-schedule p,  .festival-schedule ul{
	margin-left: 10%;
}

/* Shannon footer
-------------------------------------------------- */

.shannon{
	text-align: center;
	padding: 10px;
}
.shannon img{
    border-radius: 150px;
    width: 100px;
	border: 2px solid;
}
.homepage .shannon{
	color: #ddd;
}
.homepage .shannon img{
	border: 2px solid #ddd;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

}
@media (max-width: 950px) {
	.col-md-5 table{
	    width: 80%;
	    margin: auto;
	}
}

@media (max-width: 744px) {
	.btn-group-justified .btn-group button{
		font-size: 8px;
	}

	.homepage-boxes{
		width: 80%;
		margin:auto;
	}
	.register-button {
	    width: 80%;

	}

	
	#results-container {
	    display:hidden;
	}
}

